*.class
impl\src\test\resources\bintray-client.properties
Recursive
target
build
*.iml
*.ipr
*.iws
cobertura.ser
DS_Store
.gradle
.vagrant
BINTRAY_HOME
out
atlassian-*.xml
.idea/
.project
.classpath
.settings